@{
    ViewData["Title"] = "Home Page";
}

<form id="encode" method="get" enctype="multipart/form-data">
    <input type="file" name="" id="uploadTest">
    <input type="submit" value="Submit">
    <p id="base64"></p>
</form>

<form id="decode">
    <input type="text" name="" id="stringBase64">
    <input type="submit" value="Submit">
    <img src="" alt="" srcset="" width="200">
</form>


